<%= render "shared/header_second" %>

<div class="registration-main">
  <div class='form-wrap'>
    <div class='form-header'>
      <h1 class='form-header-text'>
        <%="#{current_user.shop_name}さんのメニュー" %>
      </h1>
    </div>
    <%= link_to "メニューの追加", new_menu_path %>
    <div class="shop-wrap">
      <h1 class="shop-text">メニュー一覧</h1>
    </div>
    <div class="user-menu">
      <%= render partial: 'menus/menu', collection: @user.menus %>
    </div>

    <div>
      <%= render partial: 'shops/shop', locals: {shop: @user.shop} %>
    </div>
    <%= link_to '編集', edit_shop_path(@user.shop.id), method: :get %>
  </div>
</div>
<%= render "shared/footer" %>